* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes */

@font-face {
    font-family: morden;
    src: url(fonts/Morden.otf);
}

@font-face {
    font-family: ponzi;
    src: url(fonts/Ponzi\ Hat.otf);
}

@font-face {
    font-family: akira;
    src: url(fonts/Akira\ Expanded\ Demo.otf);
}


/* Variables */
$color1: rgba(144, 0, 0, 0.943);
$color2: rgba(144, 0, 0, 0.782);
$color3: rgb(65, 65, 65);
$color-letra: rgb(255, 249, 241);
$color-bordes: rgba(144, 0, 0, 0.73);
$color-bordes2: rgba(251, 0, 0, 0.73);

$fuente1: 'morden',
sans-serif;
$fuente2: 'ponzi',
sans-serif;
$fuente3: 'akira',
sans-serif;

/* Estilos y reglas CSS */

.navbar {
    /* NAV ENTERO */
    min-height: 20px;
    width: auto;
}

.parte_izquierda_nav {
    /* DIV QUE CONTIENE LOGO Y NOMBRE */
    margin-left: 10px;

}

/*         SCALE DE LOGO EMPIEZA  */

.logo-container {
    position: relative;
    display: inline-block;

}

.logo-container:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

/*         SCALE DE LOGO TERMINA  */

/* MOVIMIENTO DE LOGO EMPIEZA */

.logo-container {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.logo {
    width: 100%;
    height: 100%;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    animation: spin 10s infinite;
    transform-style: preserve-3d;
    margin-top: 41px ;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    5% {
        transform: rotateY(3600deg);
    }

    25% {
        transform: rotateY(0deg);
    }

    33.33%,
    100% {
        transform: rotateY(0deg);
    }
}

/* MOVIMIENTO DE LOGO TERMINA */

nav img {
    height: 130px;
    width: auto;
}

.a1beats {
    font-size: 35px;
    font-family: $fuente2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginas a {
    /* EN EL DIV DE LOS ENLACES */
    margin-top: -4px;
    margin-left: 30px;
    font-size: 20px;
    font-family: $fuente3
    
}

.titulos {
    color: antiquewhite;
    text-align: center;
    font-size: 40px;
}

.titulo-pack {
    font-size: 30px;
    margin-bottom: 50px;
}

.titulo-genero {
    font-size: 25px;
}

.titulo-work{
    color: antiquewhite;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .packentero {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid $color-bordes2;
    }
}

main {
    background-color: $color1;
    min-height: 350px;
    border-bottom: 1px solid rgb(144, 0, 0);

}

main h2 {
    font-size: 20px;
    color: $color-letra;
    padding: 35px;

}

.foto_index {
    height: 200px;
    margin-top: 40px;
}

.fotos_index {
    display: flex;
    

}

.marcas {
    height: 500px;
    width: 100%;
    margin-top: 40px;
    /*  MARGIN MOMENTANEO */
}

.cartas_generos {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    

    .card {
        width: 280px;
        margin-bottom: 60px; // Espacio entre las líneas de las tarjetas
    }
}

@media (max-width: 768px) {
    .cartas_generos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}

.tupac {
    height: 185px;
}

.travis {
    height: 185px;
}

.feid {
    height: 190px;
}

.popsmoke {
    height: 190px;
}

.boton:hover{
    background-color: $color3;
}

.foto_a1 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes{
    display: flex;
    justify-content: space-around;
    align-items: center; /* Centrar verticalmente los elementos */
  height: 100px; /* Ajusta la altura según tus necesidades */
}

.redes a{
    text-decoration: none;
    font-size: 40px;
    color: rgb(144, 0, 0);
    width: 60px;
    height: 60px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; /* Ajusta el margen horizontal según tus necesidades */
    box-shadow: 2px 2px 2px black;
    transition: all .4s ease-in-out;
}

.redes a:hover{
    transform: scale(1.2);
    background-color: $color3;
}

footer {
    background-color: rgb(61, 61, 61);
}

footer p {
    text-align: center;
    color: white;
}



aside {
    background-color: $color2;
}

.video_workflow {    
    height: 300px;
    width:100%;
    margin: 20px;
/*     border: 4px solid $color-bordes; */
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.pack {
    height: 400px;
    width: 100%;
    border: 4px solid $color-bordes;
    margin-right: 20px;
}

.packentero {
    display: flex;
    margin-bottom: 5px;
}

.packentero h2 {
    margin-top: 150px;
    /* O ajusta el margen superior según tus necesidades */
}

.foto_a1 {
    display: block;
    /* Asegura que las imágenes se muestren como elementos de bloque */
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
    margin-bottom: 50px;
    /* Agrega espacio entre las imágenes */
    margin-top: 20px;
    border-radius: 50%;
    /* Da forma circular a las imágenes */
    width: 300px;
    /* Ajusta el ancho de las imágenes según tus necesidades */
    height: 300px;
    /* Ajusta la altura de las imágenes según tus necesidades */
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para llenar el contenedor circular */
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.foto_a2 {
    display: block;
    /* Asegura que las imágenes se muestren como elementos de bloque */
    margin: 0 auto;
    /* Centra las imágenes horizontalmente */
    margin-bottom: 50px;
    /* Agrega espacio entre las imágenes */
    border-radius: 50%;
    /* Da forma circular a las imágenes */
    width: 300px;
    /* Ajusta el ancho de las imágenes según tus necesidades */
    height: 300px;
    /* Ajusta la altura de las imágenes según tus necesidades */
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para llenar el contenedor circular */
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.fotos_index {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
/*     MARGIN MOMENTANEO */
}